*{
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #f1f1e8;
}

header{
    background-color: #206a5d;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 0.7cm;
    font-weight: bold;
    color:white;
    justify-content: center;
    
}
#next{
    color:white;
    position: absolute;
    right: 1%;
}
#before{
    color: white;
    position: absolute;
    left: 1%; 
}
#contenedor {
    width: 100%;
    height: 100%;
    
    

}

.form{
    margin: 2%;
    display: inline-block;
}

#todo{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}
td input{
    width: 100%;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 3px solid gray;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  #save{
      margin-top: 10px;
  }
  #total{
    
  }
  #savizq{
      display: inline-block;
  }
  #savder{
      float: right;
      margin-top: 1%;
      margin-right: 2%;
  }